sensors:
    '28-0000047632af':
        id: living-room
        name: 'Pokój dzienny'
    '28-00000476ee01':
        id: outdoor
        name: 'Na zewnątrz'
database:
    host: 'host'
    port: 10080
    user: 'user'
    pass: 'pass'
    collection: 'pithermo'

