{% extends "main.html" %}
{% block parameters %}address={{ address }}{% endblock %}

{% block current %}
    <table class="ink-table ink-bordered ink-hover ink-zebra">
        <thead>
            <tr>
                <th>Sensor</th>
                <th>Średnia</th>
                <th>Min</th>
                <th>Max</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ name }}</td>
                <td class="avg"></td>
                <td class="min"></td>
                <td class="max"></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
