<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PiThermo</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">

        <!-- Favicon.ico placeholder -->
        <link rel="shortcut icon" href="http://css.ink.sapo.pt/v1/imgs/ink-favicon.ico">
        
        <!-- Apple icon placeholder -->
        <link rel="apple-touch-icon-precomposed" href="http://css.ink.sapo.pt/v1/imgs/touch-icon.57.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://css.ink.sapo.pt/v1/imgs/touch-icon.72.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://css.ink.sapo.pt/v1/imgs/touch-icon.114.png">

        <!-- Apple splash screen placeholder -->
        <link rel="apple-touch-startup-image" href="http://css.ink.sapo.pt/v1/imgs/splash.320x460.png" media="screen and (min-device-width: 200px) and (max-device-width: 320px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="http://css.ink.sapo.pt/v1/imgs/splash.768x1004.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="http://css.ink.sapo.pt/v1/imgs/splash.1024x748.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="http://css.ink.sapo.pt/v1/css/ink.css">
            
        <script type="text/javascript" src="http://js.sapo.pt/SAPO/0.1/"></script>
        <script type="text/javascript" src="http://js.sapo.pt/SAPO/Dom/Loaded/1.1/"></script>
        <script type="text/javascript" src="http://js.sapo.pt/SAPO/Dom/Event/0.1/"></script>
        <script type="text/javascript" src="http://js.sapo.pt/SAPO/Communication/Ajax/2.1/"></script>
        <script type="text/javascript" src="http://js.sapo.pt/SAPO/Dom/Selector/1.1/"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            {% autoescape false %}
            google.load('visualization', '1.0', {'packages':['corechart']});

            function drawChart() 
            {
                var sensors = '';
                var checkboxes = SAPO.Dom.Selector.select('tbody input[type="checkbox"]:checked');
                if (checkboxes.length == 0) {
                    return false;
                }
                for (var i = 0; i < checkboxes.length; i++) {
                    sensors += 'address[]=' + checkboxes[i].value + '&';
                }
                SAPO.Dom.Selector.select('#chart_div')[0].innerHTML = '<img alt="loader" src="/pithermo/static/loader.gif"/>';
                new SAPO.Communication.Ajax('{{ url_for('history') }}', {
                    method: 'get',
                    evalJS: 'force',
                    parameters: sensors + 'days=' + SAPO.Dom.Selector.select('#chart-days')[0].value,
                    onSuccess: function(data) {
                        var json = data.responseJSON;
                        var data = new google.visualization.arrayToDataTable(json);
                        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                        chart.draw(data, {width:'100%', height: 400, backgroundColor: '#f7f7f7',
                            legend: {position: 'bottom'}});

                        var sensors = {}
                        for (var i = 0; i < json.length; i++) {
                          for (var k = 1; k < json[i].length; k++) {
                            if (0 == i) {
                              sensors[json[0][k]] = [];
                            } else {
                              sensors[json[0][k]].push(json[i][k])
                            }
                          }
                        }
                        for (name in sensors) {
                            var min = Math.min.apply(null, sensors[name]);
                            var max = Math.max.apply(null, sensors[name]);
                            var avg = Math.round((sensors[name].reduce(function(a, b) { return a + b }) / sensors[name].length) * 10) / 10;

                            SAPO.Dom.Selector.select('td:contains("' + name + '") ~ td.min')[0].innerText = min + ' °C';
                            SAPO.Dom.Selector.select('td:contains("' + name + '") ~ td.max')[0].innerText = max + ' °C';
                            SAPO.Dom.Selector.select('td:contains("' + name + '") ~ td.avg')[0].innerText = avg + ' °C';
                        }
                    }
                })
            }
            google.setOnLoadCallback(function () {
                drawChart();
            });

            SAPO.Dom.Loaded.run(function () {
                var checkboxes = SAPO.Dom.Selector.select('input[type="checkbox"]');
                for (var i = 0; i < checkboxes.length; i++) {
                    SAPO.Dom.Event.observe(checkboxes[i], 'change', function(e) { 
                        drawChart();
                    });
                }
                SAPO.Dom.Event.observe(SAPO.Dom.Selector.select('#chart-days-button')[0], 'click', function(e) { 
                    drawChart();
                });
                SAPO.Dom.Event.observe(SAPO.Dom.Selector.select('#chart-days-form')[0], 'keypress', function(e) { 
                    if (e.keyCode == 13) {
                        drawChart();
                        SAPO.Dom.Event.stop(e);
                    }
                });
            });
            {% endautoescape %}
        </script>
    </head>

    <body>
        <header class="ink-container">
            <div class="ink-vspace">
                <h1>PiThermo</h1>
                {% block current %}
                      <table class="ink-table ink-bordered ink-hover ink-zebra">
                          <thead>
                              <tr>
                                  <th>Sensor</th>
                                  <th></th>
                                  <th>Bieżąca</th>
                                  <th>Średnia</th>
                                  <th>Min</th>
                                  <th>Max</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for address in sensors %}
                                  <tr>
                                      <td>{{ sensors[address].name }}</td>
                                      <td><input type="checkbox" value="{{ address }}" checked="checked" /></td>
                                      <td>{% if sensors[address].temperature %}{{ sensors[address].temperature }} °C{% else %}n/a{% endif %}</td>
                                      <td class="avg"></td>
                                      <td class="min"></td>
                                      <td class="max"></td>
                                  </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                {% endblock %}
            </div>
        </header>

        <div class="ink-container ink-vspace">
            <form class="ink-form inline" id="chart-days-form">
              <fieldset>
                <div class="control">
                  <label for="chart-days">Dni wstecz</label>
                  <input type="text" id="chart-days" value="{{ days }}"/>
                  <input type="button" class="ink-button info" id="chart-days-button" value="OK"/>
                </div>
              <fieldset>
            </form>
            <div id="chart_div"></div>
        </div>

        <footer>
            <div class="ink-container">
                <p class="copyright">&copy; Wojciech Sznapka 2013</p>
            </div>
        </footer>
    </body>
</html>
